<section style="background-color:#f3f3fa;padding: 50px;">
  <h3>{{ 'HOME_PAGE.OUR_PLANS.TITLE' | translate }}</h3>
  <p>{{ 'HOME_PAGE.OUR_PLANS.SUBTITLE' | translate }}</p>
  <div class="row">
    <div class="col col-plan" style="border-top:10px solid #850ae9 ">
      <h5>{{ 'HOME_PAGE.OUR_PLANS.TEAM_PLAN_TITLE' | translate }}</h5>
      <h6><i class="bi bi-people-fill" style="padding:5px"></i> {{ 'HOME_PAGE.OUR_PLANS.TEAM_PLAN_SUBTITLE' | translate
        }}</h6>
      <button class="" style="padding: 10px;">{{ 'HOME_PAGE.OUR_PLANS.BTN_TRY_FREE' | translate }}</button>
      <h6>{{ 'HOME_PAGE.OUR_PLANS.TEAM_PLAN_PRICE' | translate }}</h6>
      <p>{{ 'HOME_PAGE.OUR_PLANS.TEAM_PLAN_BILLING' | translate }}</p>
      <ul style="text-decoration: none; list-style-type: none; padding:0;">

        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_13K' | translate }}</li>
        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_CERT_PREP' | translate }}</li>
        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_GOAL' | translate }}</li>
        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_AI_COACH' | translate }}</li>
        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_ANALYTICS' | translate }}</li>
      </ul>
    </div>
    <div class="col col-plan" style="border-top:10px solid #360494 ">
      <h5>{{ 'HOME_PAGE.OUR_PLANS.ENTERPRISE_PLAN_TITLE' | translate }}</h5>
      <p><i class="bi bi-people-fill" style="padding:5px"></i> {{ 'HOME_PAGE.OUR_PLANS.ENTERPRISE_PLAN_SUBTITLE' |
        translate }}</p>
      <button class="" style="padding: 10px;">{{ 'HOME_PAGE.OUR_PLANS.BTN_REQUEST_DEMO' | translate }}</button>
      <h6>{{ 'HOME_PAGE.OUR_PLANS.CONTACT_SALES' | translate }}</h6>
      <ul style="text-decoration: none; list-style-type: none; padding:0;">

        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_30K' | translate }}</li>
        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_CERT_PREP' | translate }}</li>
        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_GOAL' | translate }}</li>
        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_AI_COACH' | translate }}</li>
        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_AI_COACH' | translate }}</li>
        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_ADVANCED_ANALYTICS' | translate }}</li>
        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_SUCCESS_TEAM' | translate }}</li>
        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_INTL' | translate }}</li>
        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_CUSTOM' | translate }}</li>
        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_HANDS_ON' | translate }}</li>
        <li><i class="bi bi-check-circle"></i>{{ 'HOME_PAGE.OUR_PLANS.FEATURE_STRATEGIC' | translate }}</li>
      </ul>
    </div>
    <div class="col col-plan" style="border-top:10px solid #07000c ">
      <h5>{{ 'HOME_PAGE.OUR_PLANS.AI_FLUENCY_TITLE' | translate }}</h5>
      <p><i class="bi bi-stars"></i>{{ 'HOME_PAGE.OUR_PLANS.AI_FLUENCY_SUBTITLE' | translate }}</p>
      <button class="" style="padding: 10px;">{{ 'HOME_PAGE.OUR_PLANS.BTN_CONTACT_US' | translate }}</button>
      <h6>{{ 'HOME_PAGE.OUR_PLANS.AI_READINESS_TITLE' | translate }}</h6>
      <p><i class="bi bi-people-fill" style="padding:5px"></i>{{ 'HOME_PAGE.OUR_PLANS.AI_READINESS_SUBTITLE' | translate
        }}</p>
      <p>{{ 'HOME_PAGE.OUR_PLANS.AI_READINESS_DESC' | translate }}</p>
      <h6>{{ 'HOME_PAGE.OUR_PLANS.AI_GROWTH_TITLE' | translate }}</h6>
      <p><i class="bi bi-people-fill" style="padding:5px"></i>{{ 'HOME_PAGE.OUR_PLANS.AI_GROWTH_SUBTITLE' | translate }}
      </p>
      <p>{{ 'HOME_PAGE.OUR_PLANS.AI_GROWTH_DESC' | translate }}</p>
    </div>
  </div>
</section>