::ng-deep .p-tablist {
  border: none !important;
}

::ng-deep .p-tab {
  border: none !important;
}

::ng-deep .p-tabpanels {
  border: none !important;
  padding: 0 !important;
}

.p-tablist {
  border: none;
  background: transparent;
}

.p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-bottom: 2px solid #6366f1; /* لون الاكتيف */
}

.p-tabview-nav-link {
  border: none;
}

::ng-deep .p-tablist-tab-list{
  border-style:none ;
  border-bottom: 1px solid #dee2e6 ;
}
::ng-deep.p-tab-active {
  border-bottom: 2px solid #000 !important;
}