<div class="container">
    <h1>Shopping Cart</h1>
    <p class="sub-title">{{ cartItems.length }} Courses in Cart</p>

    <div class="content">
        <!-- LEFT -->
        <div class="cart-items">

            @if(cartItems.length>0){
            @for( item of cartItems ; track item.courseId ) {
            <div class="cart-item">
                <img [src]="item.courseThumbnailUrl" class="course-img" alt="{{ item.courseTitle }}">

                <div class="course-info">
                    <h3>{{ item.courseTitle }}</h3>
                    <p class="author">By {{ item.instructorName }}</p>

                    <div class="rating">
                        <span class="rate">{{ item.courseRating }}</span>
                        ⭐⭐⭐⭐☆
                        <span class="count">({{ item.totalStudents }} ratings)</span>
                    </div>

                    <p class="details">{{ item.courseDescription }}</p>
                    <span class="badge">Premium</span>
                </div>

                <div class="course-actions">
                    <button type="button" class="btn btn-link p-0 text-decoration-none"
                        (click)="removeItem(item.courseId)">
                        Remove
                    </button>
                    <button type="button" class="btn btn-link p-0 text-decoration-none"
                        (click)="addWishlist(item.courseId)">
                        Move to Wishlist
                    </button>
                    <!-- <a href="#">Save for Later</a> -->
                    <!-- <button type="button" class="btn btn-link p-0 text-decoration-none"
                        [disabled]="wishlistMap[item.courseId] || loadingMap[item.courseId]"
                        >

                        @if(!wishlistMap[item.courseId]) {
                        } @else {
                        <span class="text-success fw-semibold">
                            ✔ In Wishlist
                        </span>
                        }

                        @if(loadingMap[item.courseId]) {
                        <span class="spinner-border spinner-border-sm ms-1"></span>
                        }
                    </button> -->

                </div>

                <div class="price">
                    <span class="new">E£{{ item.coursePrice }}</span>
                </div>
            </div>
            }
            }
        </div>

        <!-- RIGHT -->
        <div class="summary">
            <p class="label">Total:</p>
            <h2>E£{{ total }}</h2>
            <p class="old-total">E£{{ subTotal}}</p>
            <p class="discount">0% off</p>

            <button class="checkout">Proceed to Checkout →</button>
            <p class="note">You won't be charged yet</p>

            <button class="coupon">Apply Coupon</button>
        </div>
    </div>
</div>