@if(cartItems.length > 0) {
<div class="container">
    <h1>{{ 'CART.SHOPPING_CART' | translate }}</h1>
    <p class="sub-title">{{ cartItems.length }} {{ 'CART.COURSES_IN_CART' | translate }}</p>

    <div class="content">
        <!-- LEFT -->
        <div class="cart-items">


            @for( item of cartItems ; track item.courseId ) {
            <div class="cart-item">
                <img [src]="item.courseThumbnailUrl" class="course-img"
                    alt="{{ item.courseTitle }}">

                <div class="course-info">
                    <h3>{{ item.courseTitle }}</h3>
                    <p class="author">{{ 'CART.BY' | translate }} {{ item.instructorName }}</p>

                    <div class="rating">
                        <span class="rate">{{ item.courseRating }}</span>
                        ⭐⭐⭐⭐☆
                        <span class="count">({{ item.totalStudents }} {{ 'CART.RATINGS' | translate }})</span>
                    </div>

                    <p class="details">{{ item.courseDescription }}</p>
                    <span class="badge">{{ 'CART.PREMIUM' | translate }}</span>
                </div>

                <div class="course-actions">
                    <button type="button" class="btn btn-link p-0 text-decoration-none"
                        (click)="removeItem(item.courseId)">
                        {{ 'CART.REMOVE' | translate }}
                    </button>
                    <button type="button" class="btn btn-link p-0 text-decoration-none"
                        (click)="addWishlist(item.courseId)">
                        {{ 'CART.MOVE_TO_WISHLIST' | translate }}
                    </button>
                    <!-- <a href="#">Save for Later</a> -->
                    <!-- <button type="button" class="btn btn-link p-0 text-decoration-none"
                        [disabled]="wishlistMap[item.courseId] || loadingMap[item.courseId]"
                        >

                        @if(!wishlistMap[item.courseId]) {
                        } @else {
                        <span class="text-success fw-semibold">
                            ✔ In Wishlist
                        </span>
                        }

                        @if(loadingMap[item.courseId]) {
                        <span class="spinner-border spinner-border-sm ms-1"></span>
                        }
                    </button> -->

                </div>

                <div class="price">
                    <span class="new">E£{{ item.coursePrice }}</span>
                </div>
            </div>
            }

        </div>

        <!-- RIGHT -->
        <div class="summary">
            <p class="label">{{ 'CART.TOTAL' | translate }}</p>
            <h2>E£{{ total }}</h2>
            <p class="old-total">E£{{ subTotal}}</p>
            <!-- <p class="discount">0% {{ 'CART.OFF' | translate }}</p> -->
            <!--  -->
            <div class="payment-method mt-3">
  <label class="fw-bold mb-2 d-block">
    {{ 'CART.PAYMENT_METHOD' | translate }}
  </label>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="paymentMethod"
      id="card"
      value="card"
      [(ngModel)]="paymentMethod"
    />
    <label class="form-check-label" for="card">
      💳 Card
    </label>
  </div>

  <div class="form-check mt-1">
    <input
      class="form-check-input"
      type="radio"
      name="paymentMethod"
      id="wallet"
      value="wallet"
      [(ngModel)]="paymentMethod"
    />
    <label class="form-check-label" for="wallet">
      👛 Wallet
    </label>
  </div>

  <p class="text-danger mt-1" *ngIf="paymentMethodError">
    {{ paymentMethodError }}
  </p>
</div>

            <!--  -->
            <!-- <button class="checkout">Proceed to Checkout →</button> -->
            <button class="btn btn-success w-100 mt-3" (click)="payNow()">
                {{ 'CART.PAY_NOW' | translate }}
                @if(loading) {
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                }
            </button>

            <p class="note">{{ 'CART.NOTE' | translate }}</p>

            <!-- <button class="coupon">{{ 'CART.APPLY_COUPON' | translate }}</button> -->
            <div class="coupon-section mt-3">
    <input type="text" [(ngModel)]="couponCode" placeholder="Enter coupon code" class="form-control mb-2" />
    <button class="btn btn-primary w-100" (click)="applyCoupon()">
       {{ 'CART.APPLY_COUPON' | translate }}
        <span *ngIf="couponLoading" class="spinner-border spinner-border-sm ms-1"></span>
    </button>
    <p class="text-danger mt-1" *ngIf="couponError">{{ couponError }}</p>
    <p class="text-success mt-1" *ngIf="discountAmount > 0">
        Discount Applied: E£{{ discountAmount }}
    </p>
</div>

        </div>
    </div>
</div>
} @else {
<div class="container text-center empty-cart">
    <i class="fas fa-shopping-cart fa-5x text-muted mb-3"></i>
    <h2>{{ 'CART.EMPTY_CART' | translate }}</h2>
</div>
}