html,
body {
  height: 100%;
  margin: 0;
}
.performance-layout {
  display: flex;
    margin-top: -65px;
  /* navbar */
}
.performance-sidebar {
  width: 220px;
  background: #f1f3f3;
  padding-top: 24px;
 position: sticky;
  padding-top: calc(65px + 24px);
  cursor: pointer;
    /* 👈 تحت الـ navbar */
}
/* title */
.performance-sidebar .title {
  font-weight: 700;
  margin: 0 16px 16px;
}

/* sidebar items */
.performance-sidebar a {
  display: block;
  padding: 14px 16px;
  color: #1c1d1f;
  text-decoration: none;

  /* 👇 الخط الفاصل */
  border-bottom: 1px solid #d1cfcf;

  /* 👇 left bar */
  border-left: 4px solid transparent;

  transition: background 0.2s ease, border-left 0.2s ease;
}

/* hover */
.performance-sidebar a:hover {
  background: #ffffff;
  border-left-color: #a435f0;
}

/* active */
.performance-sidebar a.active {
  background: #ffffff;
  font-weight: 600;
  border-left-color: #a435f0;
}
.performance-sidebar a:last-child {
  border-bottom: none;
}
.performance-content {
  flex: 1;
  padding: 24px;
    padding: calc(65px + 24px) 24px 24px;
    min-height: 100vh;
}
