html,body{
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

/* Root */
.app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Sidebar + Main */
.app-body {
  flex: 1;
  display: flex;
  /* min-height: 100vh; */
}

/* Sidebar */
app-sidebar {
  flex-shrink: 0;
  /* height: 100%; */
}

/* Main */
.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

/* Navbar */
app-navbar {
  height: 60px;
  flex-shrink: 0;
}

/* Scroll content only */
.content {
  flex: 1;
  /* overflow-y: auto; */
  background: #ffffff;
      /* padding: calc(60px + 20px) 24px 24px;
      min-height: 100vh; */
}

/* Footer */
app-footer {
  height: 50px;
  flex-shrink: 0;
}
