
<section style="margin:30px 0 30px 0 ">
  <div style="display:flex">
    <div>
      <img src="u.png" alt="Udemy Logo" style="height:80px; margin-top:10px; margin-left:20px; border-radius: 50%;">
    </div>
    <div>
      <h2 style="margin:20px 0 0 10px; ">Welcome back, Nedaa</h2>
      <a href="#" style="color: blue; margin-left:10px;">Add occupAtion and interested</a>
    </div>
  </div>
</section>

<section style="margin:40px;">
  

<div id="carouselExampleFade" class="carousel slide carousel-fade" >
  <div class="carousel-inner"  style=" display: flex; height:500px ;"  >
    <div class="carousel-item active" >
      <div class="car-cont" style="background-image: url('h2.jpg'); background-size:100% 100%; background-repeat: no-repeat;" >
        <div class="ca_p" >
          <h3>12 Deal Days of December</h3>
          Get a head start on a brighter 2026. Today’s deal: Courses start at just E£249.99.
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!-- style="background-image: url('h1.jpg'); background-size:contain;" -->
      <div class="car-cont" style="background-image: url('h1.jpg'); background-size: 100% 100%; background-repeat: no-repeat;"  >
        <div class="ca_p" >
          <h3>Go further in system administration</h3>
          <P>Subscribe to a collection of our top courses in operating systems and more with Personal Plan.
        </P>
        <button type="button" class="" style="padding :5px;background-color:rgb(107, 5, 202); color:white">Get Started</button>
        </div>
      </div>
       
    </div>
     <div class="carousel-item">
      <div class="car-cont" style="background-image: url('h3.jpg'); background-size:100% 100%; background-repeat: no-repeat;" >
        <div class="ca_p">
         <h3> Go on, make a wish</h3>
         Did you know you can wishlist the courses you’re interested in? Just click the heart button.

        </div>
      </div>
    </div>
  </div>
  <button style="opacity: 1; color:black " class="control carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="opacity: 1;border-radius: 50%;width:40px;height: 40px; background-color: rgb(209, 206, 206); color: black; " ></span>
    <span class="visually-hidden" style="border-radius: 50%; color: black;">Previous</span>
  </button>
  <button style=" opacity: 1; color:black  " class=" control carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"  style="opacity: 1;border-radius: 50%;width:40px;height: 40px; background-color: rgb(209, 206, 206); color: black;  " ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>