.car-cont{
   color: aliceblue;
   padding-top: 100px;
   padding-left: 100px;
   height: 700px;
   width: 100%;
   position:absolute;
}
.ca_p{
  background-color: white;
  color:rgb(39, 35, 35) ;
  width: 40%;
  padding:30px 20px 30px 20px;
  position:relative;
  /* transform: translate(10%,-150%); */
}

@media (max-width: 768px) {
  .car-cont{
    padding-left: 20px;
    height: 300px;
    padding-top: 50px;
  }
  .ca_p{
    width: 80%;
    padding:20px 10px 20px 10px; ;
    margin-top: 300px;
    /* transform: translate(1%,-160%); */
  }
 .active{
  height: 600px;
 }
  
}