.car-cont{
   color: aliceblue;
   padding-top: 100px;
   padding-left: 100px;
   height: 700px;
   width: 100%;
   position:absolute;
}
.ca_p{
  background-color: white;
  color:rgb(39, 35, 35) ;
  width: 40%;
  padding:30px 20px 30px 20px;
  position:relative;
  /* transform: translate(10%,-150%); */
}

@media (max-width: 768px) {
  .car-cont{
    padding-left: 20px;
    height: 300px;
    padding-top: 50px;
  }
  .ca_p{
    width: 80%;
    padding:20px 10px 20px 10px; ;
    margin-top: 300px;
    /* transform: translate(1%,-160%); */
  }
 .active{
  height: 600px;
 }

}



























.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip ul{
  display: flex;
  /* top: 100%;
  left: 0;
  background: #eee;
  border: 1px solid #ccc;
  padding: 10px; */
  /* z-index: 10; */
}

.black-box {
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 16px;
}
