.car-cont{
   color: aliceblue;
   padding-top: 100px;
   padding-left: 100px;
   height: 700px;
   width: 100%;
   position:absolute;
}
.ca_p{
  background-color: white;
  color:rgb(39, 35, 35) ;
  width: 40%;
  padding:30px 20px 30px 20px;
  position:relative;
  /* transform: translate(10%,-150%); */
}

@media (max-width: 768px) {
  .car-cont{
    padding-left: 20px;
    height: 300px;
    padding-top: 50px;
  }
  .ca_p{
    width: 80%;
    padding:20px 10px 20px 10px; ;
    margin-top: 300px;
    /* transform: translate(1%,-160%); */
  }
 .active{
  height: 600px;
 }

}



















.navbar {
  position: relative;
  display: flex;
  gap: 5px;
  padding: 10px 100px;
  background: #ffffff;
  border-bottom: 1px solid #c8c9ca;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.10);
}

.nav-item {
  font-size: 16px;
  font-weight: 350;
  cursor: pointer;
  padding-bottom: 4px;
  padding-top: 4px;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #1c1d1f;
  padding: 18px 0;
}

.mega-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
    flex-wrap: wrap;
    /* max-width: 1000px; */
}

.mega-content span {
  color: #fff;
  cursor: pointer;
  white-space: nowrap;

}

.mega-content span:hover {
color: rgb(162, 75, 209);
}









/* ===== Tooltip Arrow ===== */
.tooltip-arrow {
  position: absolute;
  top: -7px;
  /* يطلع فوق الـ menu */
  left: 50%;
  transform: translateX(-50%);

  width: 0;
  height: 0;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #1c1d1f;
}




