@if (isLoggedIn$ | async) {
<section class="welcome-wrapper">
  <div class="welcome-card">
    
    @if (user$ | async; as user) {
      <img
        class="avatar-img"
        [src]="user.profileImageUrl"
        alt="Profile"
      />
    }
    @else {
      <div class="avatar">
        {{ (firstName$ | async)?.charAt(0) || 'U' }}
      </div>
    }

    <div class="welcome-text">
      <strong>
        Welcome back, {{ (firstName$ | async) | capitalize }}
      </strong>
      <a class="welcome-link" href="#">
        Add occupation and interests
      </a>
    </div>

  </div>
</section>
}
