.navbar {
  position: relative;
  display: flex;
  gap: 5px;
  padding: 10px 80px;
  background: #ffffff;
  border-bottom: 1px solid #c8c9ca;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.10);
}

.nav-item {
  font-size: 14px;
  font-weight: 350;
  cursor: pointer;
  padding-bottom: 4px;
  padding-top: 4px;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #1c1d1f;
  padding: 18px 0;
}

.mega-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  /* max-width: 1000px; */
}

.mega-content span {
  color: #fff;
  cursor: pointer;
  white-space: nowrap;

}

.mega-content span:hover {
  color: rgb(162, 75, 209);
}
.welcome-card {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 16px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #1c1d1f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.welcome-text span {
  font-size: 0.85rem;
  color: #6e6f73;
}

.welcome-text strong {
  display: block;
  font-size: 1rem;
  color: #1c1d1f;
  margin-bottom: 6px;
}

.welcome-btn {
  background: #ede6ff;
  color: #5624d0;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: 600;
}
