<div style="display: flex; justify-content:space-between">

  <div>
    <h1 style="margin: 30px 0 30px 20px;">{{ 'HOME.LETS_START_LEARNING' | translate }}</h1>
  </div>
  <div style=" text-align: center;align-content: center;"><a href="#" style="color: blue;">learn more</a></div>
</div>
@if(courses == null)
{
  <div class="text-center text-primary">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

}@else{
<p-carousel [value]="courses" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptions">
  <ng-template let-product pTemplate="item">
    <div class="learning-carousel-wrapper">
      <div class="learning-card">
        <div class="learning-card-row">
          <div class="learning-card-image" [style.background-image]="'url(' + product.thumbnailUrl + ')'">
            <div class="learning-card-overlay">
              <i class="bi bi-play-circle-fill"></i>
            </div>
          </div>
          <div class="learning-card-content">
            <div class="learning-card-body">
              <p class="learning-card-description">{{product.description}}</p>
              <h5 class="learning-card-title">{{product.title}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
}
<section class="UdBus" style="margin-left:20px; ">
  <div>
    <p style="color: white; font-size: 18px; flex-wrap:wrap">
      {{ 'HOME_PAGE.BUSINESS_BANNER.TEXT' | translate }}
    </p>
  </div>
  <div>
    <button type="button" class="buscont"
      style="border-color: white; padding: 10px; background-color: white; border-radius: 5px;">{{
      'HOME_PAGE.BUSINESS_BANNER.BTN_GET_BUSINESS' | translate }}</button>
    <button type="button" class="buscont"
      style="border-color: white; padding: 10px; background-color: black; color:white; border-radius: 5px;">{{
      'HOME_PAGE.BUSINESS_BANNER.BTN_DISMISS' | translate }}</button>
  </div>
</section>
