<div style="display: flex; justify-content:space-between">
  <div ><h1 style="margin: 30px 0 30px 20px;">Let's start learning</h1></div>
  <div style=" text-align: center;align-content: center;"><a href="#" style="color: blue;">learn more</a></div>
</div>
<p-carousel [value]="lectures"  [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
    <ng-template let-product #item>
        <div class="card mb-3 mx-2" style="max-width: 540px; ">
            <div class="row g-0">
                 <div class="col-md-4">
                    <div class="container-fluid"  style="height: 100%;;background-color:black ; opacity:.5 ; text-align: center;align-content: center;">
                      <i class="bi bi-play-circle-fill" style="font-size:50px; color:white"></i>
                    </div>
                 </div>
                <div class="col-md-8">
                   <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
           </div>
        </div>
    </ng-template>
</p-carousel>

<section class="UdBus" style="margin-left:20px; ">
<div>
  <p style="color: white; font-size: 18px; flex-wrap:wrap">
    Training 2 or more people?Get your team access to Udemy's top 30,000+ courses
  </p>
</div>
<div>
  <button type="button" class="buscont" style="border-color: white; background-color: white;">Get Udemy Business</button>
  <button type="button" class="buscont" style="border-color: white;  background-color: black; color:white">Dismiss</button>
</div>
</section>
