<app-welcome-section></app-welcome-section>
<app-header></app-header>
@if(!isEmpty){
 <app-start-your-courses></app-start-your-courses>
 <app-recommened-courses></app-recommened-courses>
 <app-trending-courses></app-trending-courses>
 <app-featured-courses></app-featured-courses>
 <app-topics-recommended></app-topics-recommended>

 }@else{
   <div style="text-align: center; margin-top: 100px; margin-bottom: 100px;">
      <h2>You have no courses yet.</h2>
      <p>Browse our course catalog to find courses that interest you and start learning today!</p>
      <a routerLink="/courses" style="text-decoration: none;">
        <button style="background-color:#5f2eaf; color:white; 
                       padding:15px 50px 15px 50px; font-weight:bold ; border:none; border-radius:5px; cursor:pointer;">
          Browse Courses
        </button>
      </a>
   </div>
   <app-trending-courses></app-trending-courses>
   <app-featured-courses></app-featured-courses>
   <app-topics-recommended></app-topics-recommended>
 }