<section style="margin:30px 0 50px 0">
  <h2 style="margin:20px 0 20px 20px" class="title">{{ 'HOME_PAGE.TOPICS_RECOMMENDED' | translate }}</h2>
  @if(topicGroups == null)
  {
  <div class="text-center text-primary">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  }@else{
  <p-carousel [value]="topicGroups" [numVisible]="3" [numScroll]="1" [showIndicators]="false">

    <ng-template pTemplate="item" let-group>
      <div class="topic-column" style="margin:0 15px 0 15px">
        <div class="topic-card" *ngFor="let topic of group">
          {{ topic }}
        </div>
        <!-- @for(topic of group; track topic)
      {
          <div class="topic-card" >
        {{ topic}}
         </div>
      } -->
      </div>
    </ng-template>
  </p-carousel>
  }

</section>