@if((isLoggedIn$ | async)){
<nav class="navbar" (mouseleave)="clearActive()">
  @for(cat of categories; track cat.id){
  <span class="nav-item" (mouseenter)="setActive(cat, $event)">
    {{ getName(cat) }}
  </span>
  }

  <div class="mega-menu" *ngIf="activeCategory">
    <div class="tooltip-arrow" [style.left]="arrowLeft"></div>

    <div class="mega-content">
      @for(sub of activeCategory; track sub.id)
      {
      <span>
        {{ getName(sub) }}
      </span>
      }
    </div>
  </div>

</nav>



}