
<section style="margin: 10px 0 50px 0;">
  <p-carousel [value]="courses" [numVisible]="5" [numScroll]="1" [responsiveOptions]="responsiveOptions">
    <ng-template let-product pTemplate="item">
      <div class="course-card-wrapper">
        <div class="course-card"  style="height:320px">
          <div [routerLink]="['/course', product.id]">
            <img [src]="product.thumbnailUrl" alt="Course" class="course-image">
            <div class="course-basic-info">
               <h3 class="course-title">{{product.title}}</h3>
                <p class="course-instructor">{{product.instructorName}}</p>
                <div class="course-rating">
                <span class="rating-value" style="color:rgb(173, 114, 4); font-weight: bold;">{{ product.rating }}</span>
                <p-rating [(ngModel)]="product.rating" [readonly]="true"></p-rating>
              </div>
            <div class="course-price">E&pound;{{product.price}}</div>
            <button type="button" class="" 
                    style="background-color:#6d28d2;margin-top:10px ;
                          color:white; border-radius: 2px; padding:2px">
                <i class="bi bi-patch-check"></i> Premium</button>
            <p class="hover-description">
          </div>
         </div>
          <!-- الكارد التفصيلي - لازم يكون جوا الكارد الأساسي -->
          <div class="course-hover-card">
            <h3 class="hover-title">{{product.title}}</h3>
            <button type="button" class="" 
                    style="background-color:#6d28d2;margin-top:10px ;
                          color:white; border-radius: 2px; padding:2px">
                <i class="bi bi-patch-check"></i> Premium</button>
            <p class="hover-description">
              Updated in {{product.lastUpdatedDate}}
            </p>
            <div class="hover-stats">
              <span>62 total hours</span>
              <span>•</span>
              <span>All Levels</span>
              <span>•</span>
              <span>Subtitles</span>
            </div>
            <ul class="hover-list">
              <li>Build 16 web development projects</li>
              <li>Learn the latest technologies</li>
              <li>Build a portfolio of websites</li>
            </ul>
            <div class="hover-buttons">
                 <button type="button" class=" " 
                    [disabled]="isInCart(product?.id)" 
                    (click)="addToCart(product?.id)"  
                    style="background-color:#5f2eaf; color:white; 
                           padding:15px 50px 15px 50px; font-weight:bold ;">
                   <i class="bi bi-patch-check"></i>  
                       {{ isInCart(product?.id) ? 'Added to Cart' : 'Add to Cart' }}
                  </button>
                  <button (click)="addToWishlist(product?.id)" style="border-radius: 50%; border:1px solid #5f2eaf; padding:10px; margin-left:15px; background-color:white">
                        @if(isInWishlist(product?.id))
                        {
                           <i class="bi bi-heart-fill" style="color:#5f2eaf"></i>
                       }@else
                      {
                          <i class="bi bi-heart" style="color:#5f2eaf"></i>
                      }
                   </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>