<div class="profile-wrapper"
     (pointerenter)="openMenu()"
     (pointerleave)="closeMenu()">

  <!-- Avatar -->
  <div class="avatar">
    <img *ngIf="user.profileImageUrl; else initials"
         [src]="user.profileImageUrl"
         alt="avatar" />
    <ng-template #initials>
      {{ (user.firstName + ' ' + user.lastName) | intiials }}
    </ng-template>
  </div>

  <span class="notification-badge"></span>

  <!-- Dropdown -->
  <div class="dropdown" *ngIf="isOpen">

    <!-- User Info -->
    <div class="user-info">
      <div class="avatar big">
        <img *ngIf="user.profileImageUrl; else initialsBig"
             [src]="user.profileImageUrl" />
        <ng-template #initialsBig>
          {{ (user.firstName + ' ' + user.lastName) | intiials }}
        </ng-template>
      </div>

      <div class="us">
        <h5>{{ (user.firstName + ' ' + user.lastName) | capitalize }}</h5>
        <p>{{ user.email }}</p>
        <a class="btn btn-danger btn-sm fw-semibold" (click)="logout()">
          Logout
        </a>
      </div>
    </div>

    <hr />
    <!-- Links -->
    <a routerLink="/my-learning" routerLinkActive="active">My learning</a>
    <a routerLink="/Cart" routerLinkActive="active">My cart</a>
    <a  >Wishlist</a>
    <a *ngIf="isInstructor" routerLink="/dashboard/courses" routerLinkActive="active">Instructor dashboard</a>
    @if(user.role==='Instructor'){
    <a (click)="navigateToInstructorDashboard()">Instructor dashboard</a>
    }
    <hr />

    <a>Notifications</a>
    <a>
      Messages
      <span class="badge">2</span>
    </a>

    <hr />

    <a (click)="navigateToProfile()" style="cursor:pointer">Account settings</a>
    <a>Payment methods</a>
    <a>Subscriptions</a>
    <a>Purchase history</a>

    <hr />

    <a class="logout" (click)="logout()">Log out</a>
  </div>

</div>
