<div class="profile-wrapper" (mouseenter)="openMenu()" (mouseleave)="closeMenu()">
  <!-- Avatar Trigger -->
  <div class="avatar-trigger">
    @if(userData$ | async; as userr) {
    @if(userr.profileImageUrl) {
    <img class="profileImage" [src]="userr.profileImageUrl" />
    }
    @else {
    <div class="avatar">
      {{ (userr.firstName + ' ' + userr.lastName) | intiials }}
    </div>
    }
    }
  </div>

  <!-- Dropdown -->
  @if(userData$ | async; as userr) {
  <div class="dropdown" *ngIf="isOpen" [class.rtl-dropdown]="isRtl">
    <!-- User Info -->
    <div class="user-info">
      @if(userr.profileImageUrl) {
      <img class="avatarProfile" [src]="userr.profileImageUrl" />
      }
      @else {
      <div class="avatar big">
        <div class="avatar">
          {{ (userr.firstName + ' ' + userr.lastName) | intiials }}
        </div>
      </div>
      }

      <div class="us">
        <h5>{{ (userr.firstName + ' ' + userr.lastName) | capitalize }}</h5>
        <p>{{ userr.email }}</p>
      </div>
    </div>
    <hr />

    <a class="logout" (click)="logout()">{{ 'USER_MENU.LOGOUT' | translate }}</a>
    <hr />

    @if(user.role==='Student') {
    <a routerLink="/my-learning" routerLinkActive="active">{{ 'USER_MENU.MY_LEARNING' | translate }}</a>
    <a routerLink="/Cart" routerLinkActive="active">{{ 'USER_MENU.MY_CART' | translate }}</a>
    }

    @if(user.role==='Instructor') {
    <a (click)="navigateToInstructorDashboard()">{{ 'USER_MENU.INSTRUCTOR_DASHBOARD' | translate }}</a>
    }
    <hr />

    <a>{{ 'USER_MENU.NOTIFICATIONS' | translate }}</a>
    <a>{{ 'USER_MENU.MESSAGES' | translate }}</a>

    <hr />

    <a (click)="navigateToProfile()" style="cursor:pointer">{{ 'USER_MENU.ACCOUNT_SETTINGS' | translate }}</a>
    <a>{{ 'USER_MENU.PAYMENT_METHODS' | translate }}</a>
    <a>{{ 'USER_MENU.SUBSCRIPTIONS' | translate }}</a>
    <a>{{ 'USER_MENU.PURCHASE_HISTORY' | translate }}</a>
  </div>
  }
</div>