<section style="margin:30px">
  <h2>Skills to transform your career and life</h2>
  <p>From critical skills to technical topics, Udemy supports your professional development.</p>
  <div class="card" style="border:none">
    <p-tabs value="0">
        <p-tablist style="border:none">
            <p-tab style="border:none; margin: 0 10px 0 10px" value="0">Artificial Intelligence(AI)</p-tab>
            <p-tab style="border:none; margin: 0 10px 0 10px;" value="1">Paython</p-tab>
            <p-tab style="border:none; margin: 0 10px 0 10px;" value="2">Microsoft Excel</p-tab>
             <p-tab style="border:none; margin: 0 10px 0 10px;" value="3">Digital Marketing</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <p class="m-0"><app-most-popular></app-most-popular></p>
            </p-tabpanel>
            <p-tabpanel value="1">
                <p class="m-0"><app-advanced-courses ></app-advanced-courses> </p>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>

</section>
