<section style="background-color:#f3f3fa;padding: 50px;">
  <h3>Grow your team's skills and your business</h3>
  <p>Reach goals faster with one of our plans or programs. Try one free today or contact sales to learn more.</p>
  <div class="row">
    <div class="col col-plan" style="border-top:10px solid #850ae9 ">
      <h5>Team Plan</h5>
      <h6><i class="bi bi-people-fill" style="padding:5px"></i> 2 to 50 people - For your team</h6>
      <button class="" style="padding: 10px;">Try it Free</button>
      <h6>E£1,490.00 a month per user</h6>
      <p>Billed annually. Cancel anytime.</p>
      <ul style="text-decoration: none; list-style-type: none; padding:0;">
        
        <li><i class="bi bi-check-circle"></i>Access to 13,000+ top courses</li>
        <li><i class="bi bi-check-circle"></i>Certification prep</li>
        <li><i class="bi bi-check-circle"></i>Goal-focused recommendations</li>
        <li><i class="bi bi-check-circle"></i>AI-powered coaching</li>
        <li><i class="bi bi-check-circle"></i>Analytics and adoption reports</li>
        </ul>
    </div>
    <div class="col col-plan" style="border-top:10px solid #360494 "> 
      <h5>Enterprise Plan</h5>
      <p><i class="bi bi-people-fill" style="padding:5px"></i> More than 20 people - For your whole organization</p>
      <button class="" style="padding: 10px;">Reguest a demo</button>
      <h6>Contact sales for pricing</h6>
      <ul style="text-decoration: none; list-style-type: none; padding:0;">
        
        <li><i class="bi bi-check-circle"></i>Access to 30,000+ top courses</li>
        <li><i class="bi bi-check-circle"></i>Certification prep</li>
        <li><i class="bi bi-check-circle"></i>Goal-focused recommendations</li>
        <li><i class="bi bi-check-circle"></i>AI-powered coaching</li>
        <li><i class="bi bi-check-circle"></i>AI-powered coaching</li>
        <li><i class="bi bi-check-circle"></i>Advanced analytics and insights</li>
        <li><i class="bi bi-check-circle"></i>Dedicated customer success team</li>
        <li><i class="bi bi-check-circle"></i>International course collection featuring 15 languages</li>
        <li><i class="bi bi-check-circle"></i>Customizable content</li>
        <li><i class="bi bi-check-circle"></i>Hands-on tech training with add-on</li>
        <li><i class="bi bi-check-circle"></i>Strategic implementation services with add-on</li>
      </ul>
    </div>
    <div class="col col-plan" style="border-top:10px solid #07000c ">
      <h5>AI Fluency</h5>
      <p><i class="bi bi-stars"></i>From AI foundations to Enterprise transformation</p>
      <button class="" style="padding: 10px;">Contact Us</button>
      <h6>AI Readiness Collection</h6>
       <p><i class="bi bi-people-fill" style="padding:5px"></i>More than 100 people</p>
       <p>Build org-wide AI fluency fast with 50 curated courses + AI Assistant to accelerate learning.</p>
      <h6>AI Growth Collection</h6>
      <p><i class="bi bi-people-fill" style="padding:5px"></i>More than 20 people</p>
      <p>Scale AI and technical expertise with 800+ specialized courses and 30+ role-specific learning paths in multiple language</p>
    </div>
  </div>
</section>
