<div class="sidebar">
  <!-- Logo -->
  <div class="logo">
    <img src="\udemy-light.png" class="logo-icon" alt="Logo icon">
    <img src="\udemy logo inverted.png" class="logo-full" alt="Logo full">
  </div>

  <ul class="nav flex-column" >
    <li class="nav-item" routerLink="/dashboard/courses" routerLinkActive="active" >
      <i class="bi bi-play-btn"></i>
      <span class="label" >Courses</span>
    </li>

    <li class="nav-item" routerLink>
      <i class="bi bi-chat-left-text"></i>
      <span class="label">Communication</span>
    </li>

    <li class="nav-item"  routerLink="/dashboard/performance/overview" routerLinkActive="active">
      <i class="bi bi-bar-chart"></i>
      <span class="label" >Performance</span>
    </li>

    <li class="nav-item " routerLinkActive="active">
      <i class="bi bi-wrench"></i>
      <span class="label">Tools</span>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <i class="bi bi-question-circle"></i>
      <span class="label">Resources</span>
    </li>
  </ul>
</div>

