<div class="sidebar">
  <!-- Logo -->
  <div class="logo">
    <img src="\udemy-light.png" class="logo-icon" alt="Logo icon">
    <img src="\udemy logo inverted.png" class="logo-full" alt="Logo full">
  </div>

  <ul class="nav flex-column">
    <li class="nav-item" routerLink="/dashboard/courses" routerLinkActive="active">
      <i class="bi bi-play-btn"></i>
      <span class="label">{{ 'INSTRUCTOR_DASHBOARD.SIDEBAR.COURSES' | translate }}</span>
    </li>

    <li class="nav-item" routerLink>
      <i class="bi bi-chat-left-text"></i>
      <span class="label">{{ 'INSTRUCTOR_DASHBOARD.SIDEBAR.COMMUNICATION' | translate }}</span>
    </li>

    <li class="nav-item" routerLink="/dashboard/performance/overview" routerLinkActive="active">
      <i class="bi bi-bar-chart"></i>
      <span class="label">{{ 'INSTRUCTOR_DASHBOARD.SIDEBAR.PERFORMANCE' | translate }}</span>
    </li>

    <li class="nav-item " routerLinkActive="active">
      <i class="bi bi-wrench"></i>
      <span class="label">{{ 'INSTRUCTOR_DASHBOARD.SIDEBAR.TOOLS' | translate }}</span>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <i class="bi bi-question-circle"></i>
      <span class="label">{{ 'INSTRUCTOR_DASHBOARD.SIDEBAR.RESOURCES' | translate }}</span>
    </li>
  </ul>
</div>