 .sidebar {
  width: 60px;
  height: 100vh;
  background: linear-gradient(180deg, #0f1117, #151826);
  color: #fff;
  transition: width 0.6s ease;
  position: sticky;
  top: 0;
}
/* .sidebar .nav .label {
 display:none;
} */

.sidebar:hover {
  width: 300px;

}

/* Logo */
.logo {
  height: 70px;
  padding-top: 20px;
  padding: 20px 16px;
  display: flex;
  align-items: center;
  position: relative;
}

/* Collapsed logo */
.logo-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

/* Full logo hidden */
.logo-full {
  position: absolute;
  left: 16px;
  opacity: 0;
  width: 100px;
  transition: opacity 0.5s ease;
}

/* On expand */
.sidebar:hover .logo-icon {
  opacity: 0;
}

.sidebar:hover .logo-full {
  opacity: 1;
}

.logo .udemy {
  width: 100px;
}

.logo .accent {
  color: #a435f0;
}

.nav {
  gap: 8px;
}

.nav-item {
  cursor: pointer;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  color: red;
  transition: all 0.2s ease;
  font-weight: 700;
}

.nav-item i {
  font-size: 20px;

}

.nav-item:hover {
  background: #5b5f78;
  /* background-color: rgb(133, 135, 137);*/
}

/* .nav-item.active {
  background: #5b5f78;
  color: #fff;
} */




.logo-full {
  transform: translateX(-10px);
}

.sidebar:hover .logo-full {
  transform: translateX(0);
}
